@charset "UTF-8";
@media (min-width: 1280px) {
  html {
    font-size: 16px;
  }
  .px1280 {
    display: block;
  }
}
@media (max-width: 1279px) {
  html {
    font-size: 15px;
  }
  html .px1280 {
    display: none;
  }
  html .px1280-on {
    display: block !important;
  }
  html .widget_PC {
    opacity: 0.4;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .px1024 {
    display: none;
  }
  .px1024-w100 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 13px;
  }
  html .px768 {
    display: none;
  }
  html .px768-on {
    display: block !important;
  }
  html .px768-flex {
    display: flex !important;
  }
  html .px768-width {
    width: 100% !important;
  }
  .footerBar_left .left_title {
    font-size: 4rem;
  }
}
@media (max-width: 479px) {
  html {
    font-size: 12px;
  }
  .px480 {
    display: none;
  }
  .px480-on {
    display: block;
  }
}
@font-face {
  font-family: "BookkMyungjo";
  src: url("../fonts/BookkMyungjo_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "MS San Serif", "BookkMyungjo", "sans-serif", "돋움", "Dotum", "Apple SD Gothic Neo", "serif";
  font-size: 16px;
}

input {
  outline: none;
  background: none;
}

.moblieDisplay {
  display: none;
}

.explainSite {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: auto;
}
.explainSite .explainSite_wrap {
  font-size: 0.9rem;
  padding: 20px;
  z-index: 10;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: clamp(300px, 80%, 500px);
  height: clamp(300px, 500px, 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-header {
  z-index: 5;
  position: fixed;
  width: 100vw;
  font-family: "BookkMyungjo", sans-serif;
}

.firstTopNotice {
  background-color: #ffd0df;
  background-color: #f7f3eb;
  height: 2rem;
  font-weight: 700;
}

.swiper-container-firstTopNotice {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.swiper-container-firstTopNotice .swiper-wrapper {
  overflow: hidden;
  height: auto;
}
.swiper-container-firstTopNotice .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-container-firstTopNotice .swiper-wrapper .text {
  font-size: 1rem;
  display: inline-block;
}

.top-header-mobile {
  display: none;
  height: 4rem;
  background-color: #fff1ee;
}
.top-header-mobile li {
  cursor: pointer;
}
.top-header-mobile .mobileBar {
  height: 100%;
  display: flex;
  font-size: 1.7rem;
}
.top-header-mobile .mobileBar .mobileBar_left {
  flex-grow: 1;
  height: 100%;
  margin-left: 1rem;
}
.top-header-mobile .mobileBar .mobileBar_left .left_iconBox {
  height: 100%;
}
.top-header-mobile .mobileBar .mobileBar_left .left_iconBox .left_iconBox_list {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
.top-header-mobile .mobileBar .mobileBar_middle {
  flex-grow: 2;
  height: 100%;
  overflow: hidden;
}
.top-header-mobile .mobileBar .mobileBar_middle .logoBox {
  height: auto;
  margin: 0 auto;
  width: 180px;
}
.top-header-mobile .mobileBar .mobileBar_middle .logoBox img {
  transform: translateY(-65px);
  width: 180px;
}
.top-header-mobile .mobileBar .mobileBar_right {
  flex-grow: 1;
  height: 100%;
  margin-right: 2rem;
}
.top-header-mobile .mobileBar .mobileBar_right .right_iconBox {
  height: 100%;
}
.top-header-mobile .mobileBar .mobileBar_right .right_iconBox .right_iconBox_list {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
  justify-content: end;
}

.topbar {
  background-color: #fff1ee;
  background-color: #fff1ee;
  height: 4rem;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  z-index: 1;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
}

.logoBox {
  height: 100%;
  width: 100px;
  overflow: hidden;
  margin: 0 1rem;
}
.logoBox > a {
  height: 100%;
}
.logoBox > a > img {
  height: 100%;
  width: 100px;
  position: relative;
  transform: scale(1.2);
}

.topbar_menu {
  flex-grow: 1;
}
.topbar_menu .topbar_menu_list {
  width: 100%;
  display: flex;
  height: 100%;
}
.topbar_menu .topbar_menu_list .topbar_menu_item {
  width: clamp(0px, 14.2857142857%, 120px);
  height: 100%;
  position: relative;
}
.topbar_menu .topbar_menu_list .topbar_menu_item a:hover {
  color: #abb9ff;
  background-color: #f9e4b7;
  transition: all 0.3s;
}
.topbar_menu .topbar_menu_list .topbar_menu_item:hover .topbar_sub_menu {
  max-height: 600px;
  height: auto;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.topbar_menu .topbar_menu_list .topbar_menu_item .topbar_menu_link {
  font-size: 1.3rem;
  font-size: 1rem;
  color: #333;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  font-weight: 700;
}

.topbar_sub_menu {
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
}
.topbar_sub_menu .topbar_sub_menu_list {
  background-color: #fff1ee;
  background-color: #fff1ee;
  width: 100%;
}
.topbar_sub_menu .topbar_sub_menu_list:last-child {
  border-radius: 0 0 20px 20px;
  pointer-events: none;
  display: none;
}
.topbar_sub_menu .topbar_sub_menu_list .topbar_sub_menu_link {
  font-size: 1.2rem;
  font-size: 0.9rem;
  padding: 10px 0;
  color: #333;
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.topbar_sub_menu .topbar_sub_menu_list .topbar_sub_menu_link:hover {
  background-color: #fff1ee;
}

.topbar_right_functionBox {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
  white-space: nowrap;
  font-size: 1.3rem;
  font-size: 1rem;
  font-weight: 700;
}
.topbar_right_functionBox .topbar_searchBox form {
  white-space: nowrap;
}
.topbar_right_functionBox .topbar_searchBox form input {
  width: 10rem;
  height: 50px;
  background-color: transparent;
}
.topbar_right_functionBox .loginBox a {
  white-space: nowrap;
}
.topbar_right_functionBox .regiBox a {
  white-space: nowrap;
}

.footer_PC {
  margin: 9rem auto 0;
  width: 100%;
}
.footer_PC .footerBar {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(255, 203, 203);
  padding: 1rem 0;
}
.footer_PC .footerBar .footerBar_top {
  display: flex;
  flex: 1;
  width: 95%;
  margin: 0 auto;
}
.footer_PC .footerBar .footerBar_top .footerBar_left {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 100%;
  gap: 3rem;
}
.footer_PC .footerBar .footerBar_top .footerBar_left .left_title {
  font-size: 2rem;
  color: #534b4b;
  margin-right: 0.5rem;
  cursor: pointer;
  height: 30%;
}
.footer_PC .footerBar .footerBar_top .footerBar_left .left_infoBox {
  font-size: 0.85rem;
}
.footer_PC .footerBar .footerBar_top .footerBar_middle {
  flex-grow: 1;
}
.footer_PC .footerBar .footerBar_top .footerBar_right {
  text-align: center;
}
.footer_PC .footerBar .footerBar_top .footerBar_right .right_title {
  font-size: 1rem;
  color: #534b4b;
}

.footerBar_left_menu {
  height: 30%;
}
.footerBar_left_menu .left_menu_list {
  display: flex;
  flex-wrap: wrap;
}
.footerBar_left_menu .left_menu_list .left_menu_item {
  margin-right: 1rem;
  position: relative;
}
.footerBar_left_menu .left_menu_list .left_menu_item:first-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  top: 60%;
  right: -0.5rem;
  background-color: #919191;
  transform: translateY(-50%);
}
.footerBar_left_menu .left_menu_list .left_menu_item .menu_text {
  font-size: 0.85rem;
  white-space: nowrap;
}

.footerBar_middle_menu {
  text-align: center;
  min-width: 100px;
}
.footerBar_middle_menu .middle_menu_list .middle_menu_item .menu_link {
  font-size: 0.85rem;
  text-decoration: underline;
}

.footerBar_right .customerBox .customerServiceBox {
  border: 2px solid;
  border-radius: 20px;
  width: 13rem;
  background-color: #fff;
  margin: 10px auto;
  display: flex;
  cursor: pointer;
}
.footerBar_right .customerBox .customerServiceBox div {
  background-image: url(../img/main_icon_pc.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 0.5rem;
}
.footerBar_right .customerBox .customerServiceBox .imgBox1 {
  width: 40px;
  height: 40px;
  background-position-x: -5px;
  background-position-y: -6px;
  transform: scale(0.9);
}
.footerBar_right .customerBox .customerServiceBox .imgBox2 {
  width: 30px;
  height: 40px;
  background-position-x: -85px;
  background-position-y: -5px;
  transform: scale(1.2);
}
.footerBar_right .customerBox .customerServiceBox span {
  margin: auto 0;
  font-size: 1rem;
}
.footerBar_right .footerBar_middle_menu {
  display: none;
}

.footerBar_bottom {
  text-align: center;
}

body {
  background-color: #f6f4ee;
}

.main {
  font-family: "MS San Serif";
  position: relative;
  top: 12rem;
  margin-bottom: 17rem;
}
.main .con {
  margin: 0 auto;
  width: clamp(380px, 95%, 1200px);
}
.main .con .mainTitle {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}
.main .con .mainSubTitle {
  font-size: 1.25rem;
  width: 100%;
  margin: 3rem 0;
}
.main .con .conWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  font-size: 0.8rem;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 20px;
}
.main .con .conWrap .leftContentBox {
  width: clamp(330px, 60%, 100%);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main .con .conWrap .rightContentBox {
  flex-grow: 1;
  width: clamp(330px, 30%, 100%);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.leftContentBox_top {
  width: 100%;
}
.leftContentBox_top > p {
  font-size: 1rem;
}
.leftContentBox_top .thBox {
  padding: 0 20px;
  border: 1px solid #ededed;
}
.leftContentBox_top .thBox .imgBox {
  border-radius: 10px;
  overflow: hidden;
}
.leftContentBox_top .thBox .imgBox > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.leftContentBox_top .thBox .imgBox .productTextBox {
  font-size: 0.8rem;
  margin: 5px;
}
.leftContentBox_top .thBox .imgBox .productTextBox .productTextBox_name {
  display: block;
  font-size: 1.1rem;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 0.8rem;
}
.leftContentBox_top .thBox .imgBox .productTextBox .productTextBox_price {
  border-bottom: 1px dashed #fddddd;
  font-size: 0.8rem;
}

.leftContentBox_middle {
  width: clamp(380px, 157%, 160%);
}
.leftContentBox_middle > p {
  font-size: 1rem;
}
.leftContentBox_middle .leftContentBox_middle_wrap {
  margin-top: 1rem;
}
.leftContentBox_middle .leftContentBox_middle_wrap > p {
  font-size: 1rem;
}
.leftContentBox_middle .leftContentBox_middle_wrap .middle_wrap_menu {
  display: flex;
  border-top: 1px solid #ededed;
  line-height: 40px;
  padding: 0 20px;
}
.leftContentBox_middle .leftContentBox_middle_wrap .middle_wrap_menu .middle_wrap_menu_text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
}
.leftContentBox_middle .leftContentBox_middle_wrap .middle_wrap_menu .middle_wrap_menu_text:first-child {
  width: 40%;
}
.leftContentBox_middle .leftContentBox_middle_wrap .middle_content_wrap {
  display: flex;
  padding: 0 0.8rem;
  border-top: 1px solid #ededed;
  margin-bottom: 1rem;
}
.leftContentBox_middle .leftContentBox_middle_wrap .middle_content_wrap .middle_imgBox {
  width: clamp(100px, 15%, 15%);
  padding: 10px;
}
.leftContentBox_middle .leftContentBox_middle_wrap .middle_content_wrap .middle_imgBox img {
  width: 100%;
  border-radius: 5px;
}
.leftContentBox_middle .leftContentBox_middle_wrap .middle_content_wrap .middle_content:nth-child(2) {
  flex-grow: 1;
}
.leftContentBox_middle .leftContentBox_middle_wrap .middle_content_wrap .middle_content {
  width: 15%;
}
.leftContentBox_middle .leftContentBox_middle_wrap .middle_content_wrap .middle_content .middle_text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.leftContentBox_middle .leftContentBox_middle_wrap .middle_content_wrap .middle_content:last-child {
  color: #d0591f;
  font-weight: bold;
}
.leftContentBox_middle .leftContentBox_middle_wrap .middle_content_wrap:last-child {
  border-bottom: 1px solid #ededed;
}

.leftContentBox_bottom {
  width: clamp(380px, 157%, 160%);
}
.leftContentBox_bottom .leftContentBox_bottom_processing {
  display: flex;
  gap: 3rem;
}
.leftContentBox_bottom .leftContentBox_bottom_processing .processing_level {
  position: relative;
  padding: 10px;
}
.leftContentBox_bottom .leftContentBox_bottom_processing .processing_level.active {
  border-radius: 10px;
  background-color: #fff1ee;
}
.leftContentBox_bottom .leftContentBox_bottom_processing .processing_level:not(:last-child)::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  content: "\f054";
  display: block;
  right: -24px;
  top: 50%;
  transform: translateY(-50%);
}
.leftContentBox_bottom .leftContentBox_bottom_tab {
  margin-top: 10px;
  padding: 20px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  display: none;
}
.leftContentBox_bottom .leftContentBox_bottom_tab.active {
  display: block;
}
.leftContentBox_bottom [class*=-btn] {
  margin-top: 25px;
  line-height: 40px;
  background-color: #fff1ee;
  border-radius: 10px;
  width: 180px;
}

.infoBox {
  display: flex;
  border-top: #ededed 1px solid;
  border-right: 1px solid #ededed;
}
.infoBox .infoBox_name {
  width: 20%;
  padding: 10px 20px 10px 5px;
  border-right: 1px solid #ededed;
  line-height: 30px;
}
.infoBox .inputInfo {
  border: 1px solid #ededed;
  margin: 10px 10px 10px 10px;
  width: 40%;
  line-height: 20px;
  padding: 0 10px;
}
.infoBox .inputBox_tele .inputInfo_small {
  border: 1px solid #ededed;
  margin: 10px;
  width: 55px;
  padding: 0 10px;
  height: 30px;
  text-align: center;
}
.infoBox .inputBox_tele select {
  padding: 0 3px !important;
}
.infoBox .infoBox_wrap {
  width: 75%;
  margin: 10px 10px;
}
.infoBox .infoBox_wrap .agreementPaper {
  height: 60px;
  line-height: 130%;
  width: 70%;
  font-size: 0.8rem;
  overflow-y: scroll;
  border: 1px solid #adadad;
  margin-top: 5px;
}
.infoBox .infoBox_wrap input {
  position: relative;
  top: 3px;
}

.infoBox:last-child {
  border-bottom: 1px solid #ededed;
  font-size: 0.7rem;
}
.infoBox:last-child .infoBox_name {
  line-height: 20px;
  font-size: 0.8rem;
  padding-top: 20px;
}

.buyerInfo {
  box-sizing: border-box;
}
.buyerInfo p {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
}
.buyerInfo .infoBox {
  display: flex;
  border-top: #ededed 1px solid;
  border-right: 1px solid #ededed;
}
.buyerInfo .infoBox .infoBox_name {
  width: 20%;
  padding: 10px 20px 10px 5px;
  border-right: 1px solid #ededed;
  line-height: 30px;
}
.buyerInfo .infoBox .inputInfo {
  border: 1px solid #ededed;
  margin: 10px 0px 10px 10px;
  width: 50%;
  line-height: 20px;
  padding: 0 10px;
}
.buyerInfo .infoBox .inputBox_tele .inputInfo_small {
  border: 1px solid #ededed;
  margin: 10px;
  width: 55px;
  padding: 0 10px;
  height: 30px;
  text-align: center;
}
.buyerInfo .infoBox .inputBox_tele select {
  padding: 0 3px !important;
}
.buyerInfo .infoBox .infoBox_wrap {
  width: 75%;
  margin: 10px 10px;
}
.buyerInfo .infoBox .infoBox_wrap .agreementPaper {
  height: 60px;
  line-height: 130%;
  width: 70%;
  font-size: 0.8rem;
  overflow-y: scroll;
  border: 1px solid #adadad;
  margin-top: 5px;
}
.buyerInfo .infoBox .infoBox_wrap input {
  position: relative;
  top: 3px;
}
.buyerInfo .infoBox:last-child {
  border-bottom: 1px solid #ededed;
  font-size: 0.7rem;
}
.buyerInfo .infoBox:last-child .infoBox_name {
  line-height: 20px;
  font-size: 0.8rem;
  padding-top: 20px;
}

.buyerDeliveryInfo > p:first-child {
  margin: 25px 0 5px 0;
  font-size: 1rem;
  font-weight: bold;
}
.buyerDeliveryInfo label {
  line-height: 50px;
}
.buyerDeliveryInfo .infoBox:last-child {
  color: #b1b1b1;
}

.infoBox_name_wrap {
  width: 80%;
}
.infoBox_name_wrap input {
  line-height: 30px !important;
  height: 30px;
}
.infoBox_name_wrap .infoBox_name_box {
  display: flex;
}
.infoBox_name_wrap .infoBox_name_box .findAddress {
  width: 30%;
  line-height: 30px;
  height: 30px;
}

.payNotice {
  width: 100%;
  margin-top: 20px;
  font-size: 0.8rem;
  display: flex;
  gap: 5px;
}
.payNotice_btn {
  border: 1px solid #dcdcdc;
  padding: 3px 10px;
  border-radius: 5px;
}

.popup {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.popup.active {
  display: block;
}
.popup .popup_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(380px, 80%, 600px);
  min-height: 350px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup .popup_inner .close_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  cursor: pointer;
}
.popup .popup_inner h3::after {
  content: "";
  bottom: 4px;
  left: 0;
  height: 10px;
  width: 100%;
  z-index: -1;
  background-color: #e9a89a;
  bottom: 0;
  position: absolute;
}
.popup .popup_inner .popup_promotion_box_content {
  flex-grow: 1;
  margin: 10px 0;
}
.popup .popup_inner .popup_promotion_box_content li {
  position: relative;
  line-height: 29px;
  color: #888;
}
.popup .popup_inner .popup_promotion_box_content li::before {
  content: "";
  display: block;
  position: absolute;
  left: -8px;
  top: 14px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #333;
}
.popup .popup_inner .popup_installment_box_content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.popup .popup_inner .popup_installment_box_content li {
  width: 50%;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 14px;
  font-weight: inherit;
  color: #b7b7b7;
  border: 1px solid #e7e7e7;
  cursor: pointer;
}
.popup .popup_inner .popup_installment_box_content li.active {
  z-index: 2;
  color: #2a2a2a;
  border: 1px solid #373737;
}
.popup .popup_inner .popup_installment_box_content li:last-child {
  margin-left: -1px;
}

.choiceToPay {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #333;
  border-right: 1px solid #dcdcdc;
}
.choiceToPay .payWay {
  width: 25%;
  position: relative;
  border: 1px solid #dcdcdc;
  border-width: 0 0 1px 1px;
  cursor: pointer;
}
.choiceToPay .payWay > div {
  background-color: #fff;
}
.choiceToPay .payWay > div.active {
  background-color: #3e3e3e;
}
.choiceToPay .payWay > div.active + span {
  color: #fff;
}
.choiceToPay .payWay .choiceToPay_icon_deposit {
  background-image: url("../../img/evnetImg/credit_1.png");
  background-repeat: no-repeat;
  background-position: center top 25px;
  padding: 101px 0 25px;
  width: 100%;
  height: 100%;
}
.choiceToPay .payWay .choiceToPay_icon_deposit.active {
  background-image: url("../../img/eventImg/credit_1-1.png");
}
.choiceToPay .payWay .choiceToPay_icon_credit {
  background-image: url("../../img/eventImg/credit_2.png");
  background-repeat: no-repeat;
  background-position: center top 25px;
  padding: 101px 0 25px;
  width: 100%;
  height: 100%;
}
.choiceToPay .payWay .choiceToPay_icon_credit.active {
  background-image: url("../../img/eventImg/credit_2-1.png");
}
.choiceToPay .payWay .choiceToPay_icon_realtime {
  background-image: url("../../img/eventImg/credit_3.png");
  background-repeat: no-repeat;
  background-position: center top 25px;
  padding: 101px 0 25px;
  width: 100%;
  height: 100%;
}
.choiceToPay .payWay .choiceToPay_icon_realtime.active {
  background-image: url("../../img/eventImg/credit_3-1.png");
}
.choiceToPay .payWay .choiceToPay_icon_mobile {
  background-image: url("../../img/eventImg/credit_4.png");
  background-repeat: no-repeat;
  background-position: center top 25px;
  padding: 101px 0 25px;
  width: 100%;
  height: 100%;
}
.choiceToPay .payWay .choiceToPay_icon_mobile.active {
  background-image: url("../../img/eventImg/credit_4-1.png");
}
.choiceToPay .payWay .choiceToPay_icon_samsungpay {
  background-image: url("../../img/eventImg/credit_5.png");
  background-repeat: no-repeat;
  background-position: center top 25px;
  padding: 101px 0 25px;
  width: 100%;
  height: 100%;
}
.choiceToPay .payWay .choiceToPay_icon_samsungpay.active {
  background-image: url("../../img/eventImg/credit_5-1.png");
}
.choiceToPay .payWay .choiceToPay_icon_payco {
  background-image: url("../../img/eventImg/credit_6.png");
  background-repeat: no-repeat;
  background-position: center top 25px;
  padding: 101px 0 25px;
  width: 100%;
  height: 100%;
}
.choiceToPay .payWay .choiceToPay_icon_payco.active {
  background-image: url("../../img/eventImg/credit_6-1.png");
}
.choiceToPay .payWay .choiceToPay_icon_kakaopay {
  background-image: url("../../img/eventImg/credit_7.png");
  background-repeat: no-repeat;
  background-position: center top 25px;
  padding: 101px 0 25px;
  width: 100%;
  height: 100%;
}
.choiceToPay .payWay .choiceToPay_icon_kakaopay.active {
  background-image: url("../../img/eventImg/credit_7-1.png");
}
.choiceToPay .payWay .choiceToPay_icon_smilepay {
  background-image: url("../../img/eventImg/credit_8.png");
  background-repeat: no-repeat;
  background-position: center top 25px;
  padding: 101px 0 25px;
  width: 100%;
  height: 100%;
}
.choiceToPay .payWay .choiceToPay_icon_smilepay.active {
  background-image: url("../../img/eventImg/credit_8-1.png");
}
.choiceToPay .payWay .choiceToPay_text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  white-space: nowrap;
}

.payInfoExplanation {
  padding: 3px 0;
}
.payInfoExplanation dl {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}
.payInfoExplanation dl dt {
  position: relative;
  width: 140px;
  padding-left: 10px;
  color: #3e3e3e;
  font-size: 14px;
}
.payInfoExplanation dl dt::before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 2px;
  height: 2px;
  margin-top: -1px;
  background: #333;
  content: "";
}
.payInfoExplanation dl dd {
  color: #888;
  font-size: 0.8rem;
}

.rightContentBox {
  width: 100%;
}
.rightContentBox .rightContentBox_wrap {
  padding: 30px 34px;
  background: #f8f8f8;
  width: clamp(300px, 100%, 600px);
  margin: 20px auto 0;
}
.rightContentBox .rightContentBox_wrap P {
  padding: 21px 0 9px;
  font-size: 1rem;
  font-weight: 700;
}
.rightContentBox .rightContentBox_wrap .rightContentBox_textWrap {
  font-size: 0.8rem;
  padding: 8px 0;
}
.rightContentBox .rightContentBox_wrap .rightContentBox_textWrap .leftText {
  display: inline-block;
  width: 48%;
}
.rightContentBox .rightContentBox_wrap .rightContentBox_textWrap .rightText {
  display: inline-block;
  width: 48%;
  text-align: right;
}
.rightContentBox .rightContentBox_wrap .rightContentBox_textWrap .lastText {
  font-size: 0.9rem;
  font-weight: 700;
}
.rightContentBox .rightContentBox_wrap .rightContentBox_textWrap .totalCost {
  color: #d0591f;
  font-size: 1.2rem;
  font-weight: 700;
}
.rightContentBox .buy-btn {
  margin-top: 25px;
  line-height: 40px;
  background-color: #f9e4b7;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
  width: clamp(350px, 100%, 600px);
  cursor: pointer;
}