@charset "UTF-8";
@media (min-width: 1280px) {
  html {
    font-size: 16px;
  }
  .px1280 {
    display: block;
  }
}
@media (max-width: 1279px) {
  html {
    font-size: 15px;
  }
  html .px1280 {
    display: none;
  }
  html .px1280-on {
    display: block !important;
  }
  html .widget_PC {
    opacity: 0.4;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .px1024 {
    display: none;
  }
  .px1024-w100 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 13px;
  }
  html .px768 {
    display: none;
  }
  html .px768-on {
    display: block !important;
  }
  html .px768-flex {
    display: flex !important;
  }
  html .px768-width {
    width: 100% !important;
  }
  .footerBar_left .left_title {
    font-size: 4rem;
  }
}
@media (max-width: 479px) {
  html {
    font-size: 12px;
  }
  .px480 {
    display: none;
  }
  .px480-on {
    display: block;
  }
}
@font-face {
  font-family: "BookkMyungjo";
  src: url("../fonts/BookkMyungjo_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "MS San Serif", "BookkMyungjo", "sans-serif", "돋움", "Dotum", "Apple SD Gothic Neo", "serif";
  font-size: 16px;
}

input {
  outline: none;
  background: none;
}

.moblieDisplay {
  display: none;
}

.explainSite {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: auto;
}
.explainSite .explainSite_wrap {
  font-size: 0.9rem;
  padding: 20px;
  z-index: 10;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: clamp(300px, 80%, 500px);
  height: clamp(300px, 500px, 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-header {
  z-index: 5;
  position: fixed;
  width: 100vw;
  font-family: "BookkMyungjo", sans-serif;
}

.firstTopNotice {
  background-color: #ffd0df;
  background-color: #f7f3eb;
  height: 2rem;
  font-weight: 700;
}

.swiper-container-firstTopNotice {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.swiper-container-firstTopNotice .swiper-wrapper {
  overflow: hidden;
  height: auto;
}
.swiper-container-firstTopNotice .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-container-firstTopNotice .swiper-wrapper .text {
  font-size: 1rem;
  display: inline-block;
}

.top-header-mobile {
  display: none;
  height: 4rem;
  background-color: #fff1ee;
}
.top-header-mobile li {
  cursor: pointer;
}
.top-header-mobile .mobileBar {
  height: 100%;
  display: flex;
  font-size: 1.7rem;
}
.top-header-mobile .mobileBar .mobileBar_left {
  flex-grow: 1;
  height: 100%;
  margin-left: 1rem;
}
.top-header-mobile .mobileBar .mobileBar_left .left_iconBox {
  height: 100%;
}
.top-header-mobile .mobileBar .mobileBar_left .left_iconBox .left_iconBox_list {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
.top-header-mobile .mobileBar .mobileBar_middle {
  flex-grow: 2;
  height: 100%;
  overflow: hidden;
}
.top-header-mobile .mobileBar .mobileBar_middle .logoBox {
  height: auto;
  margin: 0 auto;
  width: 180px;
}
.top-header-mobile .mobileBar .mobileBar_middle .logoBox img {
  transform: translateY(-65px);
  width: 180px;
}
.top-header-mobile .mobileBar .mobileBar_right {
  flex-grow: 1;
  height: 100%;
  margin-right: 2rem;
}
.top-header-mobile .mobileBar .mobileBar_right .right_iconBox {
  height: 100%;
}
.top-header-mobile .mobileBar .mobileBar_right .right_iconBox .right_iconBox_list {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
  justify-content: end;
}

.topbar {
  background-color: #fff1ee;
  background-color: #fff1ee;
  height: 4rem;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  z-index: 1;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
}

.logoBox {
  height: 100%;
  width: 100px;
  overflow: hidden;
  margin: 0 1rem;
}
.logoBox > a {
  height: 100%;
}
.logoBox > a > img {
  height: 100%;
  width: 100px;
  position: relative;
  transform: scale(1.2);
}

.topbar_menu {
  flex-grow: 1;
}
.topbar_menu .topbar_menu_list {
  width: 100%;
  display: flex;
  height: 100%;
}
.topbar_menu .topbar_menu_list .topbar_menu_item {
  width: clamp(0px, 14.2857142857%, 120px);
  height: 100%;
  position: relative;
}
.topbar_menu .topbar_menu_list .topbar_menu_item a:hover {
  color: #abb9ff;
  background-color: #f9e4b7;
  transition: all 0.3s;
}
.topbar_menu .topbar_menu_list .topbar_menu_item:hover .topbar_sub_menu {
  max-height: 600px;
  height: auto;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.topbar_menu .topbar_menu_list .topbar_menu_item .topbar_menu_link {
  font-size: 1.3rem;
  font-size: 1rem;
  color: #333;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  font-weight: 700;
}

.topbar_sub_menu {
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
}
.topbar_sub_menu .topbar_sub_menu_list {
  background-color: #fff1ee;
  background-color: #fff1ee;
  width: 100%;
}
.topbar_sub_menu .topbar_sub_menu_list:last-child {
  border-radius: 0 0 20px 20px;
  pointer-events: none;
  display: none;
}
.topbar_sub_menu .topbar_sub_menu_list .topbar_sub_menu_link {
  font-size: 1.2rem;
  font-size: 0.9rem;
  padding: 10px 0;
  color: #333;
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.topbar_sub_menu .topbar_sub_menu_list .topbar_sub_menu_link:hover {
  background-color: #fff1ee;
}

.topbar_right_functionBox {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
  white-space: nowrap;
  font-size: 1.3rem;
  font-size: 1rem;
  font-weight: 700;
}
.topbar_right_functionBox .topbar_searchBox form {
  white-space: nowrap;
}
.topbar_right_functionBox .topbar_searchBox form input {
  width: 10rem;
  height: 50px;
  background-color: transparent;
}
.topbar_right_functionBox .loginBox a {
  white-space: nowrap;
}
.topbar_right_functionBox .regiBox a {
  white-space: nowrap;
}

.footer_PC {
  margin: 9rem auto 0;
  width: 100%;
}
.footer_PC .footerBar {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(255, 203, 203);
  padding: 1rem 0;
}
.footer_PC .footerBar .footerBar_top {
  display: flex;
  flex: 1;
  width: 95%;
  margin: 0 auto;
}
.footer_PC .footerBar .footerBar_top .footerBar_left {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 100%;
  gap: 3rem;
}
.footer_PC .footerBar .footerBar_top .footerBar_left .left_title {
  font-size: 2rem;
  color: #534b4b;
  margin-right: 0.5rem;
  cursor: pointer;
  height: 30%;
}
.footer_PC .footerBar .footerBar_top .footerBar_left .left_infoBox {
  font-size: 0.85rem;
}
.footer_PC .footerBar .footerBar_top .footerBar_middle {
  flex-grow: 1;
}
.footer_PC .footerBar .footerBar_top .footerBar_right {
  text-align: center;
}
.footer_PC .footerBar .footerBar_top .footerBar_right .right_title {
  font-size: 1rem;
  color: #534b4b;
}

.footerBar_left_menu {
  height: 30%;
}
.footerBar_left_menu .left_menu_list {
  display: flex;
  flex-wrap: wrap;
}
.footerBar_left_menu .left_menu_list .left_menu_item {
  margin-right: 1rem;
  position: relative;
}
.footerBar_left_menu .left_menu_list .left_menu_item:first-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  top: 60%;
  right: -0.5rem;
  background-color: #919191;
  transform: translateY(-50%);
}
.footerBar_left_menu .left_menu_list .left_menu_item .menu_text {
  font-size: 0.85rem;
  white-space: nowrap;
}

.footerBar_middle_menu {
  text-align: center;
  min-width: 100px;
}
.footerBar_middle_menu .middle_menu_list .middle_menu_item .menu_link {
  font-size: 0.85rem;
  text-decoration: underline;
}

.footerBar_right .customerBox .customerServiceBox {
  border: 2px solid;
  border-radius: 20px;
  width: 13rem;
  background-color: #fff;
  margin: 10px auto;
  display: flex;
  cursor: pointer;
}
.footerBar_right .customerBox .customerServiceBox div {
  background-image: url(../img/main_icon_pc.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 0.5rem;
}
.footerBar_right .customerBox .customerServiceBox .imgBox1 {
  width: 40px;
  height: 40px;
  background-position-x: -5px;
  background-position-y: -6px;
  transform: scale(0.9);
}
.footerBar_right .customerBox .customerServiceBox .imgBox2 {
  width: 30px;
  height: 40px;
  background-position-x: -85px;
  background-position-y: -5px;
  transform: scale(1.2);
}
.footerBar_right .customerBox .customerServiceBox span {
  margin: auto 0;
  font-size: 1rem;
}
.footerBar_right .footerBar_middle_menu {
  display: none;
}

.footerBar_bottom {
  text-align: center;
}