@media (min-width: 1280px) {
  html {
    font-size: 16px;
  }
  .px1280 {
    display: block;
  }
}
@media (max-width: 1279px) {
  html {
    font-size: 15px;
  }
  html .px1280 {
    display: none;
  }
  html .px1280-on {
    display: block !important;
  }
  html .widget_PC {
    opacity: 0.4;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .px1024 {
    display: none;
  }
  .px1024-w100 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 13px;
  }
  html .px768 {
    display: none;
  }
  html .px768-on {
    display: block !important;
  }
  html .px768-flex {
    display: flex !important;
  }
  html .px768-width {
    width: 100% !important;
  }
  .footerBar_left .left_title {
    font-size: 4rem;
  }
}
@media (max-width: 479px) {
  html {
    font-size: 12px;
  }
  .px480 {
    display: none;
  }
  .px480-on {
    display: block;
  }
}