@charset "UTF-8";
@font-face {
  font-family: "BookkMyungjo";
  src: url("../fonts/BookkMyungjo_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
body {
  font-family: "MS San Serif", "BookkMyungjo", "sans-serif", "돋움", "Dotum", "Apple SD Gothic Neo", "serif";
}

input {
  outline: none;
  background: none;
}

.con {
  max-width: 1200px;
  margin: 0 auto;
}

.con-min-width {
  min-width: 1200px;
}

.firstTopNotice {
  background-color: #ffb8ce;
  height: 50px;
  font-weight: 700;
  font-family: "BookkMyungjo", sans-serif;
}

.top-header {
  position: fixed;
  width: 100%;
  font-family: "BookkMyungjo", sans-serif;
}

.swiper-container-firstTopNotice {
  width: 100%;
  height: 50px;
  width: 1200px;
  margin: 0 auto;
}
.swiper-container-firstTopNotice .swiper-wrapper {
  overflow: hidden;
  height: auto;
}
.swiper-container-firstTopNotice .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-container-firstTopNotice .swiper-wrapper .text {
  font-size: 1.2rem;
  display: inline-block;
}

.topbar {
  background-color: #fff1ee;
  background-color: #fff1ee;
  height: 100px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
}

.logoBox {
  height: 100%;
  overflow: hidden;
  margin: 0 20px;
}
.logoBox > a {
  display: flex;
}
.logoBox > a > img {
  height: 100%;
  position: relative;
  top: -50px;
}

.topbar_menu .topbar_menu_list {
  display: flex;
  height: 100%;
}
.topbar_menu .topbar_menu_list .topbar_menu_item {
  height: 100%;
  position: relative;
}
.topbar_menu .topbar_menu_list .topbar_menu_item a:hover {
  color: #abb9ff;
  background-color: #f9e4b7;
}
.topbar_menu .topbar_menu_list .topbar_menu_item:hover .topbar_sub_menu {
  max-height: 600px;
  height: auto;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.topbar_menu .topbar_menu_list .topbar_menu_item:not(:last-child) .topbar_menu_link::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: #ffbbbb;
  transform: translateY(10%);
}
.topbar_menu .topbar_menu_list .topbar_menu_item .topbar_menu_link {
  font-size: 1.2rem;
  padding: 0 40px;
  color: #333;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  font-weight: 700;
}

.topbar_sub_menu {
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
}
.topbar_sub_menu .topbar_sub_menu_list {
  background-color: #fff1ee;
  background-color: #fff1ee;
  width: 100%;
}
.topbar_sub_menu .topbar_sub_menu_list:last-child {
  border-radius: 0 0 20px 20px;
  pointer-events: none;
}
.topbar_sub_menu .topbar_sub_menu_list .topbar_sub_menu_link {
  font-size: 1.2rem;
  padding: 10px 0;
  color: #333;
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.topbar_sub_menu .topbar_sub_menu_list .topbar_sub_menu_link:hover {
  background-color: #fff1ee;
}

.topbar_right_functionBox {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 700;
}
.topbar_right_functionBox .topbar_searchBox form {
  white-space: nowrap;
}
.topbar_right_functionBox .topbar_searchBox form input {
  width: 250px;
  height: 50px;
  background-color: transparent;
}
.topbar_right_functionBox .loginBox a {
  white-space: nowrap;
}
.topbar_right_functionBox .regiBox a {
  white-space: nowrap;
}

.mainContents {
  position: relative;
  top: 150px;
}
.mainContents .mainBanner {
  width: 1200px;
  max-height: 800px;
}

.swiper-container-mainBanner .swiper-wrapper {
  left: -80%;
}
.swiper-container-mainBanner .swiper-wrapper .swiper-slide-active {
  width: 1200px !important;
}
.swiper-container-mainBanner .swiper-wrapper .swiper-slide-next,
.swiper-container-mainBanner .swiper-wrapper .swiper-slide-prev {
  position: relative;
}
.swiper-container-mainBanner .swiper-wrapper .swiper-slide-next ::after,
.swiper-container-mainBanner .swiper-wrapper .swiper-slide-prev ::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.swiper-container-mainBanner .swiper-wrapper .swiper-slide {
  margin: 0 auto;
  left: -40%;
  width: auto;
}
.swiper-container-mainBanner .swiper-wrapper .swiper-slide a {
  display: block;
}
.swiper-container-mainBanner .swiper-wrapper .swiper-slide a img {
  width: 1000px;
  height: 800px;
}