// 변수 관리
$font-title: "BookkMyungjo";
$font-main: "MS San Serif";
$title-color: #fff1ee;
$item-color: #f9e4b7;
$attention-color: #abb9ff;
$font-size-bannerTitle: 4rem;
$font-size-bannerSub: 1.8rem;
$font-size-topbar: 1rem;
$font-size-topbar-sub: 0.9rem;
$font-size-mainBanner: 2.5rem;
$font-size-mainBanner-sub: 1.4rem;
$font-size-itemsection-title: 30px;
$font-size-itemsection-title-decr: 24px;
$font-size-itemsection-sub: 20px;
$font-size-itemsection-sub-decr: 14px;
