// 폰트, 모듈, 탑바, 푸터바 css 디자인

@font-face {
  font-family: "BookkMyungjo";
  src: url("../fonts/BookkMyungjo_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@import "modules";
body {
  font-family: $font-main, $font-title, "sans-serif", "돋움", "Dotum",
    "Apple SD Gothic Neo", "serif";
  font-size: 16px;
}

input {
  outline: none;
  background: none;
}

.moblieDisplay {
  display: none;
}

// 작업시작
.top-header {
  z-index: 5;
  position: fixed;
  width: 100vw;
  font-family: $font-title, sans-serif;
}

// 최상단 공지 시작
.firstTopNotice {
  background-color: #ffd0df;
  background-color: $topNotice-color;
  height: 2rem;
  font-weight: 700;
}

.swiper-container-firstTopNotice {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .swiper-wrapper {
    overflow: hidden;
    height: auto;
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text {
      font-size: 1rem;
      display: inline-block;
    }
  }
}

// 상단 메뉴바 시작
.topbar {
  background-color: #fff1ee;
  background-color: $title-color;
  height: 5rem;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
}

.logoBox {
  height: 100%;
  width: 100px;
  overflow: hidden;
  margin: 0 1rem;
  > a {
    height: 100%;
    > img {
      height: 100%;
      width: 100px;
      position: relative;
      transform: scale(1.2);
    }
  }
}

// 탑바 메뉴 시작
.topbar_menu {
  flex-grow: 1;
  .topbar_menu_list {
    width: 100%;
    display: flex;
    height: 100%;

    .topbar_menu_item {
      width: clamp(0px, calc(100% / 7), 120px);
      height: 100%;
      position: relative;

      a:hover {
        color: $attention-color;
        background-color: $item-color;
        transition: all 0.3s;
      }

      &:hover .topbar_sub_menu {
        max-height: 600px;
        height: auto;
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
        transition: all 0.3s;
      }

      .topbar_menu_link {
        font-size: 1.3rem;
        font-size: $font-size-topbar;
        color: #333;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        font-weight: 700;
      }
    }
  }
}

// 서브 메뉴

.topbar_sub_menu {
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 20px 20px;

  .topbar_sub_menu_list {
    background-color: #fff1ee;
    background-color: $title-color;

    width: 100%;

    &:last-child {
      border-radius: 0 0 20px 20px;
      pointer-events: none;
      display: none;
    }

    .topbar_sub_menu_link {
      font-size: 1.2rem;
      font-size: $font-size-topbar-sub;
      padding: 10px 0;
      color: #333;
      display: block;
      width: 100%;
      text-align: center;
      padding: 20px 0;

      &:hover {
        background-color: #fff1ee;
      }
    }
  }
}

// 오른쪽 기능박스 시작
.topbar_right_functionBox {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
  white-space: nowrap;
  font-size: 1.3rem;
  font-size: $font-size-topbar;
  font-weight: 700;

  .topbar_searchBox {
    form {
      white-space: nowrap;
      input {
        width: 10rem;
        height: 50px;
        background-color: transparent;
      }
    }
  }
  .loginBox {
    a {
      white-space: nowrap;
    }
  }
  .regiBox {
    a {
      white-space: nowrap;
    }
  }
}

// 푸터바 디자인

.footer_PC {
  margin: 9rem auto 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);

  .footerBar {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid gray;
    padding: 1rem 0;

    .footerBar_top {
      display: flex;
      flex: 1;
      width: 95%;
      margin: 0 auto;

      .footerBar_left {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;

        .left_title {
          font-size: $font-size-footer-title;
          color: $footer-title-text-color;
          margin-right: 0.5rem;
          cursor: pointer;
          height: 30%;
        }

        .footerBar_middle_menu {
          display: none;
          margin-left: 0.5rem;
        }
      }
      .footerBar_middle {
        flex-grow: 1;
      }

      .footerBar_right {
        text-align: center;

        .right_title {
          font-size: $font-size-footer-sub-title;
          color: $footer-title-text-color;
        }
      }
    }
  }
}

.footerBar_left_menu {
  height: 30%;
  margin-left: 0.5rem;

  .left_menu_list {
    display: flex;

    .left_menu_item {
      margin-right: 1rem;
      position: relative;
      &:first-child::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 10px;
        top: 60%;
        right: -0.5rem;
        background-color: #919191;
        transform: translateY(-50%);
      }

      .menu_text {
        font-size: $font-size-footer-decr;
        white-space: nowrap;
      }
    }
  }
}

.footerBar_middle_menu {
  text-align: center;
  .middle_menu_list {
    .middle_menu_item {
      &:not(:first-child) {
        display: inline-block;
      }

      .menu_link {
        font-size: $font-size-footer-decr;
        text-decoration: underline;
      }
    }
  }
}

.footerBar_right {
  .customerBox {
    .customerServiceBox {
      border: 2px solid;
      border-radius: 20px;
      width: 13rem;
      background-color: #fff;
      margin: 10px auto;
      display: flex;
      cursor: pointer;

      div {
        background-image: url(../img/main_icon_pc.png);
        background-repeat: no-repeat;
        display: inline-block;
        margin: 0 0.5rem;
      }

      .imgBox1 {
        width: 40px;
        height: 40px;
        background-position-x: -5px;
        background-position-y: -6px;
        transform: scale(0.9);
      }

      .imgBox2 {
        width: 30px;
        height: 40px;
        background-position-x: -85px;
        background-position-y: -5px;
        transform: scale(1.2);
      }

      span {
        margin: auto 0;
        font-size: $font-size-footer-sub-title;
      }
    }

    .customerServiceInfoBox {
    }
  }
}
