@import "common";

.moblieDisplay {
  display: none;
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  color: #fff;
  font-size: 2.5rem;
}

// 메인 컨텐츠 시작

.mainContents {
  position: relative;
  top: 7rem;
  .mainBanner {
    margin-bottom: 5rem;

    .mainBanner_pageBox {
      position: relative;
      margin-left: auto;
      width: 30rem;
      height: 50px;

      .mainBanner_fraction {
        margin-left: auto;
        line-height: 3rem;
        width: 30%;
        position: static;
      }

      .mainBanner_progressbar {
        height: 25%;
        width: 66%;
        margin-top: 3.5%;
        margin-left: 10%;
        z-index: 1;
      }
    }
  }
}

.swiper-container-mainBanner {
  .swiper-wrapper {
    .swiper-slide {
      height: 40rem;

      a {
        display: block;
        position: relative;

        .textBox {
          color: #fff;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0)
            );
            pointer-events: none;
          }

          .textBox_title {
            position: absolute;
            bottom: 20%;
            left: 5%;
            font-size: 4rem;
            font-size: $font-size-mainBanner;
            font-weight: 700;
            z-index: 1;
          }

          .textBox_main {
            position: absolute;
            bottom: 12%;
            left: 5%;
            font-size: 1.2rem;
            font-size: $font-size-mainBanner-sub;
            font-weight: 700;
            z-index: 1;
          }
        }

        img {
          width: 100%;
          height: 40rem;
          object-fit: cover;
        }
      }
    }
  }
}

// 아이템 섹션 시작

.itemSection {
  .categoryBox {
    .categoryBox_item {
      margin: 0 auto;
      max-width: 1000px;
      overflow: hidden;

      .swiper-slide {
        display: flex;
        flex-direction: column;
        position: relative;

        .categoryBox_wrap {
          display: flex;
          margin-top: 100px;
          overflow: hidden;

          .mobileUITitleBox {
            position: absolute;
            display: none;
            top: 8%;
            left: 50%;
            font-size: $font-size-itemsection-title;
            font-weight: 700;
            transform: translateX(-50%);
          }

          // 공통 디자인
          .titleBox_imgBox {
            overflow: hidden;
            border-radius: 20px 20px 0 0;
          }

          i:hover {
            color: red;
            transition: all 0.3s;
          }

          //호버 이벤트
          a:hover div img {
            scale: 1.1;
            transition: all 0.3s;
          }

          a {
            position: relative;
          }

          a::after {
            content: "";
            height: 100%;
            width: 100%;
            top: 20%;
            opacity: 0;
            z-index: -1;
            position: absolute;
            transition: all 0.3s;
            background: linear-gradient(
              to bottom,
              rgba(255, 73, 73, 0.3),
              rgba(0, 0, 0, 0)
            );
          }
          a:hover::after {
            opacity: 1;
          }
        }
      }
    }
  }
}

// 왼쪽 박스

.categoryBox_leftBox {
  margin: 100px 1rem 0;
  min-width: 25%;
  width: 50%;
  position: relative;

  .leftBox_header {
    text-align: center;
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    h1 {
      font-size: 1.5rem;
      font-size: $font-size-itemsection-title;
      font-weight: 700;
    }
    p {
      margin-top: 10px;
      font-size: 1.2rem;
      font-size: $font-size-itemsection-sub;
      white-space: nowrap;
    }
  }

  .categoryBox_titleBox {
    a {
      img {
        object-fit: contain;
        width: 100%;
        border-radius: 20px;
      }

      .titleBox_frontText {
        height: 50px;
        position: relative;
        margin: 15px 5px;

        .titleBox_iconBox {
          position: absolute;
          right: 0;
          font-size: 2.2rem;
          top: 50%;
          transform: translateY(-50%);

          .titleBox_icon1 {
            margin-right: 0.5rem;
          }
        }

        .titleBox_text1 {
          display: block;
          font-size: 30px;
          font-size: $font-size-itemsection-title;
        }

        .titleBox_text2 {
          display: -webkit-box;
          margin-top: 15px;
          font-size: 24px;
          font-size: $font-size-itemsection-title-decr;
          overflow: hidden;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          line-clamp: 2;
        }
      }
    }
  }
}

// 오른쪽 박스 프레임

.categoryBox_rightBox {
  width: 100%;
  margin: 0 1.2rem;

  .categoryBox_rightBox_list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;

    &:last-child {
      margin-top: 20px;
    }

    .categoryBox_rightBox_item {
      border-radius: 20px;
      width: calc(100% / 3);
      // height: 550px;
      overflow: hidden;
    }
  }
}

// 오른쪽 박스

.categoryBox_subBox {
  height: 100%;
  width: 100%;
  a {
    display: block;
    height: 100%;
    width: 100%;

    .titleBox_imgBox {
      width: 100%;
      height: 14.3rem;

      img {
        object-fit: cover;
        border-radius: 20px;
        height: 14.3rem;
        width: 100%;
      }
    }
    .subBox_frontText {
      height: 70px;
      position: relative;
      margin: 5px;

      .subBox_iconBox {
        position: absolute;
        right: 0;
        font-size: 1.5rem;
        top: 15%;
        transform: translateY(-50%);

        .subBox_icon1 {
          margin-right: 0.5rem;
        }
      }

      .subBox_text1 {
        display: block;
        font-size: 1.1rem;
        font-size: $font-size-itemsection-sub;
      }

      .subBox_text2 {
        display: -webkit-box;
        font-size: 1rem;
        font-size: $font-size-itemsection-sub-decr;
        overflow: hidden;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        line-clamp: 2;
      }
    }
  }
}

// 카테고리 박스 스와이퍼 작업

.swiper-container-categoryBox {
  .swiper-wrapper {
    .swiper-slide {
      display: flex;

      // justify-content: space-between;
      // gap: 20px;
    }
  }
}
.swiper-only-btn-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  // overflow: hidden;

  .swiper-categoryBox-btn-group {
    position: absolute;
    top: 54%;
    width: 100%;
    z-index: 2;
    font-size: 44px;

    .swiper-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.5;
      cursor: pointer;
    }

    .swiper-btn-prev {
      left: 0;
    }

    .swiper-btn-next {
      right: 0;
    }
  }
}

// 위젯 시작

// 피시 위젯
.widget_PC {
  position: fixed;
  top: 50%;
  width: 100%;
  font-size: 14px;
  font-size: $font-size-widget;
  z-index: 3;

  &:hover {
    opacity: 1;
  }

  .widgetBox {
    position: relative;
    width: 100%;

    .sideBox_left {
      position: absolute;
      left: 0;
      width: 6rem;
      border-radius: 0 20px 20px 0;
      overflow: hidden;
      box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
    }

    .sideBox_right {
      position: absolute;
      right: 0;
      width: 6rem;
      overflow: hidden;
      border-radius: 20px 0 0 20px;
      box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
    }

    .sideBox_list {
      overflow: hidden;

      .sideBox_item {
        text-align: center;
        color: #333;
        height: calc(100% / 7 - 20px);
        background-color: #fff1ee;
        background-color: $title-color;

        &:first-child {
          height: 0;
        }

        &:last-child {
          height: 0;
        }

        .sideBox_item_link {
          padding: 10px 0;
          display: block;

          &:hover {
            background-color: #f9e4b7;
            background-color: $item-color;
          }
        }

        .item_link_icon {
        }
      }
    }
  }
}

// 모바일 위젯
.widget_mobile {
  position: fixed;
  display: none;
  bottom: 0;
  height: 4rem;
  width: 100%;
  font-size: 14px;
  font-size: $font-size-widget;
  z-index: 3;
  background-color: $title-color;

  .widgetBox {
    position: relative;
    width: 100%;
    height: 100%;

    .sideBox_list {
      width: 100%;
      height: 100%;
      display: flex;

      a {
        &:hover {
          color: $attention-color;
        }
      }

      .sideBox_item {
        width: calc(100% / 8);
        height: 100%;

        &:hover .widget_mobile_sub_menu_list {
          max-height: 600px;
          height: auto;
          opacity: 1;
          transition: all 0.3s;
        }

        .sideBox_item_link {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }
    }
  }
}

.widget_mobile_item_last {
  position: relative;

  .sideBox_item_link {
    width: 100%;
  }
}

// 모바일 위젯 2차메뉴
.widget_mobile_sub_menu_list {
  height: 0px;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  background-color: $title-color;

  .widget_mobile_sub_menu_item {
    height: 100%;
    width: 100%;

    .mobile_sub_menu_link {
      font-size: 1.2rem;
      font-size: $font-size-topbar-sub;
      padding: 10px 0;
      color: #333;
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }
  }
}
