// 변수 관리
$font-title: "BookkMyungjo";
$font-main: "MS San Serif";
$title-color: #fff1ee;
$item-color: #f9e4b7;
$attention-color: #abb9ff;
$topNotice-color: #f7f3eb;
$footer-title-text-color: #534b4b;
$font-size-bannerTitle: 4rem;
$font-size-bannerSub: 1.2rem;
$font-size-topbar: 1rem;
$font-size-topbar-sub: 0.9rem;
$font-size-mainBanner: 2.5rem;
$font-size-mainBanner-sub: 1.2rem;
$font-size-itemsection-title: 1.5rem;
$font-size-itemsection-title-decr: 1.2rem;
$font-size-itemsection-sub: 1.1rem;
$font-size-itemsection-sub-decr: 0.8rem;
$font-size-widget: 0.8rem;
$font-size-footer-title: 2rem;
$font-size-footer-sub-title: 1rem;
$font-size-footer-decr: 0.85rem;

// 상세페이지 변수
$D-font-size-price: 1.5rem;

// 구메페이지 변수
$B-border-color: #dcdcdc;

// :root {
//   --tabletSize: false;
//   --semiMobileSize: false;
//   --mobileSize: false;
//   --pcSize: false;
// }
