@import "../scss/common.scss";

// 메인 프레임
body {
  background-color: #f6f4ee;
}

.main {
  font-family: $font-main;
  position: relative;
  top: 12rem;
  margin-bottom: 17rem;

  .con {
    margin: 0 auto;
    width: clamp(380px, 95%, 1200px);

    .mainTitle {
      text-align: center;
      font-size: 1.5rem;
      width: 100%;
    }

    .mainSubTitle {
      font-size: 1.25rem;
      width: 100%;
      margin: 3rem 0;
    }

    .conWrap {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      font-size: 0.8rem;
      background-color: #fff;
      padding: 0.8rem;
      border-radius: 20px;

      .leftContentBox {
        width: clamp(330px, 60%, 100%);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .rightContentBox {
        flex-grow: 1;
        width: clamp(330px, 30%, 100%);
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
}

// 왼쪽 박스 상단 & 스와이퍼

.leftContentBox_top {
  width: 100%;

  > p {
    font-size: 1rem;
  }

  .thBox {
    padding: 0 20px;
    border: 1px solid #ededed;

    > div {
    }

    .imgBox {
      border-radius: 10px;
      overflow: hidden;

      > img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
      }

      .productTextBox {
        font-size: 0.8rem;
        margin: 5px;

        .productTextBox {
          &_name {
            display: block;
            font-size: 1.1rem;
            margin: 0.5rem 0 0.5rem 0;
            font-size: 0.8rem;
          }

          &_price {
            border-bottom: 1px dashed #fddddd;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

// 왼쪽 박스 중단

.leftContentBox_middle {
  width: clamp(380px, 157%, 160%);

  > p {
    font-size: 1rem;
  }

  .leftContentBox_middle_wrap {
    margin-top: 1rem;

    > p {
      font-size: 1rem;
    }

    .middle_wrap_menu {
      display: flex;
      border-top: 1px solid #ededed;
      line-height: 40px;
      padding: 0 20px;

      .middle_wrap_menu_text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
      }
      .middle_wrap_menu_text:first-child {
        width: 40%;
      }
    }

    .middle_content_wrap {
      display: flex;
      padding: 0 0.8rem;
      border-top: 1px solid #ededed;
      margin-bottom: 1rem;

      .middle_imgBox {
        width: clamp(100px, 15%, 15%);
        padding: 10px;
        img {
          width: 100%;
          border-radius: 5px;
        }
      }

      .middle_content:nth-child(2) {
        flex-grow: 1;
      }

      .middle_content {
        width: 15%;
        .middle_text {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }

      .middle_content:last-child {
        color: #d0591f;
        font-weight: bold;
      }
    }

    .middle_content_wrap:last-child {
      border-bottom: 1px solid #ededed;
    }
  }
}

// 왼쪽 박스 하단

.leftContentBox_bottom {
  width: clamp(380px, 157%, 160%);

  .leftContentBox_bottom_processing {
    display: flex;
    gap: 3rem;
    .processing_level {
      position: relative;
      padding: 10px;
      span {
      }

      &.active {
        border-radius: 10px;
        background-color: $title-color;
      }
    }
    .processing_level:not(:last-child)::after {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      position: absolute;
      content: "\f054";
      display: block;
      right: -24px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .leftContentBox_bottom_tab {
    margin-top: 10px;
    padding: 20px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    display: none;

    &.active {
      display: block;
    }

    .tabWrap {
    }
  }

  [class*="-btn"] {
    margin-top: 25px;
    line-height: 40px;
    background-color: $title-color;
    border-radius: 10px;
    width: clamp(160px, 180px, 180px);
  }
}

// 바이어 공통 디자인
.infoBox {
  display: flex;
  border-top: #ededed 1px solid;
  border-right: 1px solid #ededed;

  .infoBox_name {
    width: 20%;
    padding: 10px 20px 10px 05px;
    border-right: 1px solid #ededed;
    line-height: 30px;
  }

  .inputInfo {
    border: 1px solid #ededed;
    margin: 10px 10px 10px 10px;
    width: 40%;
    line-height: 20px;
    padding: 0 10px;
  }

  .inputBox_tele {
    .inputInfo_small {
      border: 1px solid #ededed;
      margin: 10px;
      width: 55px;
      padding: 0 10px;
      height: 30px;
      text-align: center;
    }

    select {
      padding: 0 3px !important;
    }
  }

  .infoBox_wrap {
    width: 75%;
    margin: 10px 10px;

    .agreementPaper {
      height: 60px;
      line-height: 130%;
      width: 70%;
      font-size: 0.8rem;
      overflow-y: scroll;
      border: 1px solid #adadad;
      margin-top: 5px;
    }

    input {
      position: relative;
      top: 3px;
    }
  }
}
.infoBox:last-child {
  border-bottom: 1px solid #ededed;
  font-size: 0.7rem;

  .infoBox_name {
    line-height: 20px;
    font-size: 0.8rem;
    padding-top: 20px;
  }
}

// 바이어 정보

.buyerInfo {
  box-sizing: border-box;

  p {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
  }

  .infoBox {
    display: flex;
    border-top: #ededed 1px solid;
    border-right: 1px solid #ededed;

    .infoBox_name {
      width: 20%;
      padding: 10px 20px 10px 05px;
      border-right: 1px solid #ededed;
      line-height: 30px;
    }

    .inputInfo {
      border: 1px solid #ededed;
      margin: 10px 0px 10px 10px;
      width: 50%;
      line-height: 20px;
      padding: 0 10px;
    }

    .inputBox_tele {
      .inputInfo_small {
        border: 1px solid #ededed;
        margin: 10px;
        width: 55px;
        padding: 0 10px;
        height: 30px;
        text-align: center;
      }

      select {
        padding: 0 3px !important;
      }
    }

    .infoBox_wrap {
      width: 75%;
      margin: 10px 10px;

      .agreementPaper {
        height: 60px;
        line-height: 130%;
        width: 70%;
        font-size: 0.8rem;
        overflow-y: scroll;
        border: 1px solid #adadad;
        margin-top: 5px;
      }

      input {
        position: relative;
        top: 3px;
      }
    }
  }
  .infoBox:last-child {
    border-bottom: 1px solid #ededed;
    font-size: 0.7rem;

    .infoBox_name {
      line-height: 20px;
      font-size: 0.8rem;
      padding-top: 20px;
    }
  }
}

// 배송지정보
.buyerDeliveryInfo {
  > p:first-child {
    margin: 25px 0 5px 0;
    font-size: 1rem;
    font-weight: bold;
  }

  label {
    line-height: 50px;
  }

  .infoBox:last-child {
    color: #b1b1b1;
  }
}

.infoBox_name_wrap {
  width: 80%;

  input {
    line-height: 30px !important;
    height: 30px;
  }

  .infoBox_name_box {
    display: flex;

    .findAddress {
      width: 30%;
      line-height: 30px;
      height: 30px;
    }
  }
}

// 결제수단디자인

.payNotice {
  width: 100%;
  margin-top: 20px;
  font-size: 0.8rem;
  display: flex;
  gap: 5px;

  &_btn {
    border: 1px solid $B-border-color;
    padding: 3px 10px;
    border-radius: 5px;
  }
}

// 팝업디자인

.popup {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  position: fixed;

  &.active {
    display: block;
  }

  .popup_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(380px, 80%, 600px);
    min-height: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .close_btn {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 2rem;
      cursor: pointer;
    }

    h3::after {
      content: "";
      bottom: 4px;
      left: 0;
      height: 10px;
      width: 100%;
      z-index: -1;
      background-color: #e9a89a;
      bottom: 0;
      position: absolute;
    }

    .popup_promotion_box_content {
      flex-grow: 1;
      margin: 10px 0;

      li {
        position: relative;
        line-height: 29px;
        color: #888;
      }

      li::before {
        content: "";
        display: block;
        position: absolute;
        left: -8px;
        top: 14px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #333;
      }
    }

    .popup_installment_box_content {
      display: flex;
      width: 100%;
      flex-wrap: wrap;

      li {
        width: 50%;
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-size: 14px;
        font-weight: inherit;
        color: #b7b7b7;
        border: 1px solid #e7e7e7;
        cursor: pointer;

        &.active {
          z-index: 2;
          color: #2a2a2a;
          border: 1px solid #373737;
        }
      }

      li:last-child {
        margin-left: -1px;
      }
    }
  }
}

.choiceToPay {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #333;
  border-right: 1px solid $B-border-color;

  .payWay {
    width: 25%;
    position: relative;
    border: 1px solid $B-border-color;
    border-width: 0 0 1px 1px;
    cursor: pointer;

    > div {
      background-color: #fff;

      &.active {
        background-color: #3e3e3e;
      }

      &.active + span {
        color: #fff;
      }
    }

    .choiceToPay_icon {
      &_deposit {
        @include choiceToPayIcon(
          "../../img/eventImg/credit_1.png",
          "../../img/eventImg/credit_1-1.png"
        );
      }

      &_credit {
        @include choiceToPayIcon(
          "../../img/eventImg/credit_2.png",
          "../../img/eventImg/credit_2-1.png"
        );
      }

      &_realtime {
        @include choiceToPayIcon(
          "../../img/eventImg/credit_3.png",
          "../../img/eventImg/credit_3-1.png"
        );
      }

      &_mobile {
        @include choiceToPayIcon(
          "../../img/eventImg/credit_4.png",
          "../../img/eventImg/credit_4-1.png"
        );
      }

      &_samsungpay {
        @include choiceToPayIcon(
          "../../img/eventImg/credit_5.png",
          "../../img/eventImg/credit_5-1.png"
        );
      }

      &_payco {
        @include choiceToPayIcon(
          "../../img/eventImg/credit_6.png",
          "../../img/eventImg/credit_6-1.png"
        );
      }

      &_kakaopay {
        @include choiceToPayIcon(
          "../../img/eventImg/credit_7.png",
          "../../img/eventImg/credit_7-1.png"
        );
      }

      &_smilepay {
        @include choiceToPayIcon(
          "../../img/eventImg/credit_8.png",
          "../../img/eventImg/credit_8-1.png"
        );
      }
    }

    .choiceToPay_text {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }
}

// 결제수단추가설명부분

.payInfoExplanation {
  padding: 3px 0;

  dl {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;

    dt {
      position: relative;
      width: 140px;
      padding-left: 10px;
      color: #3e3e3e;
      font-size: 14px;

      &::before {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 2px;
        height: 2px;
        margin-top: -1px;
        background: #333;
        content: "";
      }
    }

    dd {
      color: #888;
      font-size: 0.8rem;
    }
  }
}

// 오른쪽 페이지

.rightContentBox {
  width: 100%;
  .rightContentBox_wrap {
    padding: 30px 34px;
    background: #f8f8f8;
    width: clamp(300px, 100%, 600px);
    margin: 20px auto 0;

    P {
      padding: 21px 0 9px;
      font-size: 1rem;
      font-weight: 700;
    }

    .rightContentBox_textWrap {
      font-size: 0.8rem;
      padding: 8px 0;

      .leftText {
        display: inline-block;
        width: 48%;
      }

      .rightText {
        display: inline-block;
        width: 48%;
        text-align: right;
      }

      .lastText {
        font-size: 0.9rem;
        font-weight: 700;
      }

      .totalCost {
        color: #d0591f;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }
  .buy-btn {
    margin-top: 25px;
    line-height: 40px;
    background-color: $item-color;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    width: clamp(380px, 100%, 600px);
    cursor: pointer;
  }
}
